
.header-container{
    width: 375px;
    height: 76px;
    box-shadow: 0 0.3px 0 0 #a6a6aa;
    background-color: #333333;
}

.logo-image img{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    padding-top: 1.2rem;
}

.main-section{
    width: 375px;
    height: 812px;
    background-color: black;
    
}

h1{
    display: inline-block;
    vertical-align:top;
    margin: 1.8rem 0 0 5rem;
    width: 226px;
    height: 36px;
    font-weight: 500;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /* letter-spacing: -0.3px; */
    display: center;
    /* padding-right: 5rem; */
    color: #ffffff;
}

h3 img{
    overflow: auto;
    padding-top: 0.5rem;
    padding-left: 1.8rem;
    float: left;
    padding-right: 2rem;
}

h3{
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /* letter-spacing: -0.3px; */
    text-align: left;
    
    float: left;
    
    height: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #ffffff;
}

iframe{
    width: 20rem;
    height: 20rem;
    padding: 0 1.5rem 1.8rem 1.8rem;
    vertical-align: middle;
    display: table-cell;
}

.credit-card-section{
    width: 15rem;
    height: 5rem ;
    margin: 1.2rem;
    padding: 10rem 1.5rem 0 1.2rem;
    border-radius: 10px;
    background: #c4c4c4;
}

.credit-card-section h1{
    
    /* display inline-block;
    vertical-align:top; */
    display: center;
    text-align: center;
    margin: 1.8rem 0 0 5rem;
    font-weight: 500;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    /* line-height: normal; */
    /* letter-spacing: -0.3px; */
    display: center;
    /* padding-right: 5rem; */
    color: #ffffff;

}

.credit-card-section p{
    /* display: inline-block;
    vertical-align:top; */
    display: center;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
}