
.header-container{
    width: 375px;
    height: 76px;
    box-shadow: 0 0.3px 0 0 #a6a6aa;
    background-color: #333333;
}

.logo-image img{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    padding-top: 1.2rem;
}

.main-section{
    width: 375px;
    height: 812px;
    background-color: black;
    
}

h1{
    display: inline-block;
    vertical-align:top;
    margin: 1.8rem 0 0 5rem;
    width: 226px;
    height: 36px;
    font-weight: 500;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /* letter-spacing: -0.3px; */
    display: center;
    /* padding-right: 5rem; */
    color: #ffffff;
}

h3 img{
    overflow: auto;
    padding-top: 0.5rem;
    padding-left: 1.8rem;
    float: left;
    padding-right: 2rem;
}

h3{
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /* letter-spacing: -0.3px; */
    text-align: left;
    
    float: left;
    
    height: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: #ffffff;
}

iframe{
    width: 20rem;
    height: 20rem;
    padding: 0 1.5rem 1.8rem 1.8rem;
    vertical-align: middle;
    display: table-cell;
}

.credit-card-section{
    vertical-align: middle;
    margin-left: 0.95rem;
    margin-right: 0.5rem;
    padding: 0.75rem 1.5rem 1.8rem 1.8rem;
    width: 293px;
    height: 137px;
    border-radius: 10px;
    background: #c4c4c4;
}

.card-logo{
    display: auto;
    text-align: left;
    margin-bottom: 1.2rem;
    margin-right: 2.5rem;

}
.amount-brl{

    display: block;
    text-align: center;
    padding-top: 1.2rem;
    margin: 0 0.5rem 0 0.5rem;
    font-weight: 500;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;

}

.credit-card-number{
    /* display: inline-block;
    vertical-align:top; */
    display: block;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
}

.auth-pay-btn button{
    width: 6rem;
    display: center;
    margin-left: 8.25rem;
    margin-top: 1.8rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #9bc23b;
}

.auth-pay-btn button a{
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}

.cashback{
    margin: 1.1rem 0 0 5rem;
    font-family: lato;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;

}

.scan-guide{
    vertical-align: middle;
    margin-top: 0.75rem;
    margin-left:3.89rem;
    margin-bottom: 7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 15rem;
    height: 7rem;
    border-radius: 19px;
    background: #839599;
    border: 1px solid #FFFFFF
}

.scan-guide ol{
    position: relative;
    padding-top: 0.1rem;
    padding-left: 0.75rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.back-button{
    position: absolute;
    left: 30px;
    top: 108px;
}

.qr-code-print{
    position: center;
    text-align: center;
}


.shop-description{
    text-align: center;
    border-radius: 19px;
    border: solid 1px #ffffff;
    background-color: #000000;
    vertical-align: middle;
    margin-top: 2.75rem;
    margin-left:2.75rem;
    margin-bottom: 15rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 17rem;
    height: 10rem;
}

.shop-description p{
    width: 255px;
    height: 29px;
    font-family: lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}

.order-details ul{
    text-align: center;
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: #fff;
    list-style: none;
}

.information-banner{
    width: 247px;
    height: 165px;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 19px;
    border: solid 1px #ffffff;
    background-color: #839599;
}
.information-banner h1{
    width: 255px;
    height: 29px;
    font-family: lato;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

.information-banner ul{
    list-style: none;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
    padding-left: 0.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: lato;
    font-size: 14px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.finish-payment{
    border-radius: 19px;
    border: solid 1px #ffffff;
    background-color: #000000;
    margin-top: 7rem;
    margin-right: 1rem;
    margin-bottom: 20rem;
    padding: 0.45rem 0.25rem 0.85rem 0.25rem;
    width: 15rem;
    height: 2.25rem;
    display: flex;
}

.finish-payment ul{
    text-align: left;
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 5rem;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: #fff;
    list-style: none;
}

.finish-payment button {
    width: 6rem;
    display: right;
    border-radius: 10px;
    height: 1.95rem;
    background-color: #9bc23b;
    padding-top: 0rem;
    margin-top: 0.55rem;
}

 .finish-payment button a{
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #000;

}
